<!doctype html>
<html>

<head>
    <title>CPManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="css/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/qrcode.png">
</head>

<body class="grey lighten-4" ng-app="CPManager">

    <nav class="blue darken-2">
    <div class="nav-wrapper container">
      <a href="" class="brand-logo">CPManager</a>
      <a href="" data-activates="mobile-demo" class="button-collapse" ng-show="root.isConnected"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" ng-show="root.isConnected">
          <li><a id="deconnectionButton" class="red waves-effect waves-light btn" ng-click="deconnectionClick()">Déconnexion</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo" ng-show="root.isConnected">
          <li><a id="deconnectionButton" class="black-text" ng-click="deconnectionClick()">Déconnexion</a></li>
      </ul>
    </div>
    </nav>

    <div ng-view id="to_fill">

    </div>
</div>

<!-- bower:js -->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="css/materialize/js/materialize.min.js"></script>
<!-- end bower:js -->
<script src="angular/app.js"></script>
<!-- Controller -->
<script src="angular/controllers/LoginController.js"></script>
<script src="angular/controllers/ListMachineController.js"></script>
<script src="angular/controllers/FormController.js"></script>
<script src="angular/controllers/BugsViewController.js"></script>
<!-- end Controller -->
<!-- Service -->
<script src="angular/services/serviceAjaxCall.js"></script>
<!-- end Service -->
<script src="css/initMaterialize.js"></script>


</body>

</html>
