<div class="container">
    <div class="card-panel">
        <div class="row valign-wrapper">
            <div class="col s6 left-align">
                <h4>{{message}}</h4>
            </div>

            <div class="col s6 right-align">
                <a class="waves-effect waves-light btn" ng-click="viewListMachineClick()">Voir les machines</a>
            </div>
        </div>

        <table id="tableBugs" class="bordered">
            <thead>
                <tr>
                    <th width="20%">Machine</th>
                    <th width="20%">Date du bug</th>
                    <th width="20%">Image du bug</th>
                    <th width="20%">Détails</th>
                    <th width="20%">Etat</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="bug in bugs| filter : {'name_machine' : machineSelected}" >
                    <td width="20%">{{bug.name_machine}}</td>
                    <td width="20%">{{bug.date_bug|date}}</td>
                    <td ng-if="bug.picture!=''" width="20%"><button class="blue btn waves-effect waves-light modal-trigger" href="#{{bug.picture}}" >Photo</button></td>
                    <td ng-if="bug.picture==''" width="20%">Pas de photo</td>
                    <td width="20%"> <button class="blue btn waves-effect waves-light modal-trigger" href="#{{bug.id}}" >Détails</button></td>
                    <td width="20%">{{bug.state}}</td>
                </tr><!-- ng-click="switchImage(bug.picture)"-->
            </tbody>
        </table>
    </div>

    <div ng-repeat="bug in bugs">
        <div class="modal" id="{{bug.picture}}">
            <div class="modal-content center-align">
                <img style="max-height:400px;" src="{{bug.picture}}"/>
            </div>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
    </div>


    <div ng-repeat="bug in bugs">
        <div class="modal" id="{{bug.id}}">
            <div class="modal-content">
                <h4>{{bug.name_machine}} - {{bug.date_bug|date}}</h4>
                <h5>Description</h5>
                <p>{{bug.description}}</p>
                <select id="select{{bug.id}}" class="selects">
                    <option  value="signale">Signalé</option>
                    <option  value="pris_en_charge">Pris en charge</option>
                    <option  value="resolu">Résolu</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="blue btn waves-effect waves-light" ng-click="saveChanges(bug)">Enregistrer</button>
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
    </div>
</div>
