<div class="container">
    <div class="card-panel">
        <div class="row">
            <form name="ProblemForm" id="problemForm" class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h4>{{problem.machine}} - {{problem.local}}</h4>
                    </div>
                </div>
                <span ng-show="ProblemForm.Email.$touched && ProblemForm.Email.$invalid">
                    <blockquote>
                        L'adresse e-mail n'est pas valide.
                    </blockquote>
                </span>

                <span ng-show="ProblemForm.Description.$touched && ProblemForm.Description.$invalid">
                    <blockquote>
                        Une description du problème est obligatoire.
                    </blockquote>
                </span>

                <span>
                    <blockquote ng-show="error.isSet">
                        {{error.message}}
                    </blockquote>
                </span>

                <div class="row">
                    <div class="col s12 input-field">
                        <i class="material-icons prefix">email</i>
                        <input id="email" ng-model="problem.email" name="Email" type="email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <div class="input-field col s12">
                            <textarea id="description" ng-model="problem.description" name="Description" class="materialize-textarea" required></textarea>
                            <label for="description">Description du problème</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 file-field input-field">
                        <div class="btn blue darken-2 waves-light">
                            <span>Photo</span>
                            <input id="imageInput" type="file"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Photo (facultatif)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align" ng-hide="requesting || success">
                        <button class="btn waves-effect green lighten-1 waves-light" ng-disabled="ProblemForm.$invalid || success" ng-click="submit()" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s12 center-align" ng-show="success">
                        <i class="material-icons green-text medium">check_circle</i>
                    </div>
                    <div class="col s12 center-align" ng-show="requesting">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
