<div class="container" ng-show="root.isConnected">
    <div class="card-panel">
        <div class="row valign-wrapper">
            <div class="col s6">
                <h4>Importer des machines</h4>
            </div>
            <div class="col s6 right-align">
                <a class="waves-effect waves-light btn" ng-click="viewBugsClick()">Voir tous les bugs</a>
            </div>
        </div>
        <div class="row">
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn light-blue darken-3">
                        <span>File</span>
                        <input type="file" id="ip_scan">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Fichier à importer">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 right-align">
                <a ng-click="importClick()" class="waves-effect waves-light btn">Importer</a>
            </div>

        </div>
        <hr>
        <br>
        <div class="row valign-wrapper">
            <div class="col s6 left-align">
                <h4>Machines</h4>
            </div>

            <div class="col s6 right-align">

                <a class="teal lighten-2 waves-effect waves-light btn" ng-click="exporterToutesLesMachines()">Exporter tout</a>
            </div>

        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="searchField" type="text" class="validate" ng-model="searchMachine">
                        <label for="icon_prefix">Search on name field</label>
                    </div>
                </div>
            </form>
        </div>
        <table class="bordered">
            <thead>
                <tr>
                    <th width="30%">
                        <a href="" ng-click="sortType = 'name_machine'; sortReverse = ! sortReverse">
                            Nom
                            <i ng-show="sortType == 'name_machine' && ! sortReverse" class="tiny material-icons">arrow_drop_down</i>
                            <i ng-show="sortType == 'name_machine' && sortReverse" class="tiny material-icons">arrow_drop_up</i>
                        </a>

                    </th>
                    <th width="30%">
                        <a href="" ng-click="sortType = 'place'; sortReverse = ! sortReverse">
                        Local

                        <i ng-show="sortType == 'place' && ! sortReverse" class="tiny material-icons">arrow_drop_down</i>
                        <i ng-show="sortType == 'place' && sortReverse" class="tiny material-icons">arrow_drop_up</i>
                        </a>
                    </th>
                    <th width="30%">Exporter QR Code</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="machine in machines | orderBy:sortType:sortReverse | namePlaceFilter:searchMachine">
                          <td ng-click="viewBugsMachine(machine.name_machine)">{{machine.name_machine}}</td>
                          <td>{{machine.place}}</td>
                    <td>
                        <a class="waves-effect waves-light btn" ng-click="exporterUneMachine(machine)">Exporter</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
