<div id="login-div" class="container">
    <div class="card-panel">
        <div class="row">
            <h4>Connexion</h4>
        </div>
        <form name="FormConnexion" ng-submit="clickLogin()" novalidate>
                <span ng-show="FormConnexion.mail.$invalid && FormConnexion.mail.$touched">
                        <blockquote style="color:maroon">
                            L'adresse e-mail n'est pas valide.
                        </blockquote>
                </span>
                <span ng-show="FormConnexion.pwd.$invalid && FormConnexion.pwd.$touched">
                        <blockquote style="color:maroon">
                                Champ requis.
                        </blockquote>
                </span>
                <span ng-show="erreur">
                        <blockquote style="color:maroon">
                                {{message}}
                        </blockquote>
                </span>
        <div class="row">
            <div class="col s12 input-field">
                <i class="material-icons prefix">account_circle</i>
                <label for="signin-email">Email</label>
                <input ng-model="emailLogin" id="signin-email" name="mail" type="email" required/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <i class="material-icons prefix">lock</i>
                <label for="signin-psswd">Password</label>
                <input ng-model="passwordLogin" id="signin-psswd" type="password" name="pwd" required>
            </div>
        </div>
        <div class="row">
            <input type="submit" ng-disabled="FormConnexion.$invalid" class="col s12 btn waves-effect waves-light" value="Connexion"/>
        </div>
        </form>
    </div>
</div>
